custom:
  security:
    # jwt 有效期时长，单位秒，默认一周
    expires: 604800
    # 放行白名单配置
    whitelist:
      - /actuator/**
      - /error
      - /swagger-ui/**
      - /v3/api-docs/**
      - /webjars/**
      - /api/register
      - /api/login/getCaptcha
      - /api/dict/getAreaByCode
      - /api/appFile/**

logging:
  level:
    org:
      springframework:
        web: DEBUG
        security: DEBUG
        security.oauth2: DEBUG
    #        boot.autoconfigure: DEBUG
    # sql：SQL 日志记录组，包括 Hibernate SQL 记录器。
    sql: debug
    # web：Web 日志记录组，包括编解码器。
    web: debug

management:
  endpoint:
    health:
      # 何时显示完整的健康详细信息。
      show-details: always
  endpoints:
    web:
      exposure:
        # 应包含的端点 ID 或全部为 '*'。
        include: '*'
# todo 研究其它 ssl
#  info:
#    ssl:
#      enabled: true
#  server:
#    ssl:
#      bundle:

#server:
#  address:
#  ssl:
#    bundle:
#    certificate:
#    certificate-private-key:
#    ciphers:
#    client-auth: need
#    enabled: false
#    enabled-protocols:
#    key-alias:
#    key-password:
#    key-store:
#    key-store-password:
#    key-store-provider:
#    key-store-type:
#    protocol: TLS
#    server-name-bundles:
#    trust-certificate:
#    trust-certificate-private-key:
#    trust-store:
#    trust-store-password:
#    trust-store-provider:
#    trust-store-type:

# TODO 日志分割
spring:
  application:
    # 应用程序名称
    name: turing
  data:
    redis:
      repositories:
        # 是否启用 Redis 存储库。
        enabled: false
  #      ssl:
  #        bundle:
  #  http:
  #    client:
  #      ssl:
  #        bundle:
  jackson:
    # 格式化日期时使用的时区。例如，“America/Los_Angeles”或“GMT+10”。
    time-zone: GMT+8
    # 日期格式字符串或完全限定的日期格式类名称。例如，“yyyy-MM-dd HH:mm:ss”。
    date-format: yyyy-MM-dd HH:mm:ss
  jpa:
    # 注册 OpenEntityManagerInViewInterceptor。将 JPA EntityManager 绑定到线程以处理整个请求。
    open-in-view: false
  profiles:
    # 指定起作用的配置文件
    active: dev
  security:
    oauth2:
      authorizationserver:
        # 授权服务器的注册客户端。
        #        client:
        #          client-1:
        #            jwk-set-uri:
        #            require-authorization-consent:
        #            require-proof-key:
        #            token-endpoint-authentication-signing-algorithm:
        #          client-2:
        #            jwk-set-uri:
        #            require-authorization-consent:
        #            require-proof-key:
        #            token-endpoint-authentication-signing-algorithm:
        # 授权服务器发行者标识符的 URL。
        issuer: "http://localhost:8081/realms/turing-realm"
      client:
        registration:
          keycloak:
            client-id: confidential-client
            client-secret: NGOH4PRxBePJeKSew4xEiXG4eS6siiVh
            authorization-grant-type: password
            scope: openid,profile,email
        #            client-authentication-method:
        #            client-name:
        #            provider:
        #            redirect-uri:
        provider:
          keycloak:
            token-uri: http://localhost:8081/realms/turing-realm/protocol/openid-connect/token
            authorization-uri: http://localhost:8081/realms/turing-realm/protocol/openid-connect/auth
            user-info-uri: http://localhost:8081/realms/turing-realm/protocol/openid-connect/userinfo
            user-name-attribute: preferred_username
      #            issuer-uri:
      #            jwk-set-uri:
      #            user-info-authentication-method:
      resourceserver:
        jwt:
          # URI 可以是 OpenID Connect 发现端点，也可以是 RFC 8414 定义的 OAuth 2.0 授权服务器元数据端点。
          issuer-uri: "http://localhost:8081/realms/turing-realm"
          # 用于验证 JWT 令牌的 JSON Web Key URI。
          #          jwk-set-uri: "http://localhost:8081/realms/turing-realm/protocol/openid-connect/certs"
          # 包含用于验证 JWT 的公钥的文件的位置。
  #          public-key-location:
  #  rabbitmq:
  #    ssl:
  #      algorithm:
  #  rsocket:
  #    server:
  #      ssl:
  #        bundle:
  servlet:
    multipart:
      # 支持的每次请求中最大的单个文件的大小
      max-file-size: 1GB
      # 支持的每次请求中最大的多个文件的大小
      max-request-size: 10GB
      #  ssl:
      #    bundle:
      #      # PEM 编码的 SSL 信任材料。
      #      pem:
      #        turing:
      # 是否重新加载 SSL 捆绑包。
      #          reload-on-update: true
  #          keystore:
  #            # PEM 格式的证书或证书链的位置或内容。
  #            certificate: "classpath:certs/turing.crt"
  #            # PEM 格式的私钥的位置或内容。
  #            private-key: "classpath:certs/turing.key"
  #            # 是否验证私钥与公钥是否匹配。
  #            verify-keys: true
  #      jks:
  #        server:
  #          key:
  #            alias: "server"
  #          keystore:
  #            location: "classpath:server.p12"
  #            password: "secret"
  #            type: "PKCS12"
  #      watch:
  #        file:
  #          quiet-period:
  threads:
    virtual:
      # 是否使用虚拟线程。
      enabled: true

springdoc:
  cache:
    # 是否禁用 springdoc-openapi 缓存
    disabled: true
  # 是否显示 spring-boot-actuator 端点
  show-actuator: true
  # 是否显示 Spring 安全登录端点
  show-login-endpoint: true
  swagger-ui:
    # 用于按字母顺序对端点进行排序
    operationsSorter: alpha
    # 按字母顺序对标签进行排序
    tagsSorter: alpha
