<div>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img height="32" src="/spring-security.svg" width="40">
      </a>
      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
              class="navbar-toggler"
              data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a aria-current="page" class="nav-link active" href="/">Home</a>
          </li>
          <li *ngIf="isAuthenticated" class="nav-item dropdown">
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Authorize</a>
            <ul class="dropdown-menu">
              <li><a (click)="authorizeMessages()" class="dropdown-item" href="#">Messages</a></li>
            </ul>
          </li>
        </ul>
        <div class="d-flex">
          @if (isAuthenticated) {
            <div>
              <span class="fs-6 px-3">{{ userName }}</span>
              <button (click)="logout()" class="btn btn-outline-dark">Logout</button>
            </div>
          } @else {
            <div>
              <button (click)="login()" class="btn btn-outline-dark">Login</button>
            </div>
          }
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div *ngIf="messages.length > 0" class="row py-5 justify-content-start">
    <div class="col">
      <table class="table table-striped caption-top">
        <caption>Messages</caption>
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Message</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let message of messages; let index = index">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ message }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
