<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiminfxcvii.turing.mapper.MenuMapper">

    <update id="updateOneById">
        UPDATE soil_menu
        SET name          = #{menu.name},
            title         = #{menu.title},
            pid           = #{menu.pid},
            permission_id = #{menu.permissionId},
            type          = #{menu.type},
            path          = #{menu.path},
            component     = #{menu.component},
            icon          = #{menu.icon},
            sort          = #{menu.sort},
            cache         = #{menu.cache},
            show          = #{menu.show},
            external      = #{menu.external},
            create_by     = #{menu.createBy},
            create_time   = #{menu.createTime},
            update_by     = #{menu.updateBy},
            update_time   = now(),
            version       = #{menu.version}
        WHERE id = #{menu.id}
          AND version = #{menu.version}
          AND deleted = 0
    </update>
</mapper>