<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiminfxcvii.turing.mapper.UserMapper">
    <delete id="deleteManageOrgUser">
        delete
        from "soil_user"
        where id = #{userId}
    </delete>
    <delete id="deleteUsersByBusinessManageOrgId">
        delete
        from "soil_user"
        where org_id = #{orgId}
    </delete>
    <delete id="deleteTechOrgUser">
        delete
        from "soil_user"
        where id = #{userId}
    </delete>

    <select id="getUserPage" resultType="com.shiminfxcvii.turing.model.dto.UserDTO">
        select
        u.id as user_id,
        u.username as username,
        u.nick_name as nick_name,
        u.gender as gender,
        u.mobile as mobile,
        u.manager as manager,
        o.name as org_name
        from "soil_user" as u
        inner join "soil_organization" as o on u.org_id = o.id
        <if test="flag == true">
            <where>
                1 = 1
                <if test="query.username != null and query.username != ''">
                    and u.username like concat('%',#{query.username},'%')
                </if>
                <if test="query.nickName != null and query.nickName != ''">
                    and u.nick_name like concat('%',#{query.nickName},'%')
                </if>
                <if test="query.mobile != null and query.mobile != ''">
                    and u.mobile like concat('%',#{query.mobile},'%')
                </if>
                <if test="query.orgName != null and query.orgName != ''">
                    and o.name like concat('%',#{query.orgName},'%')
                </if>
            </where>
        </if>
    </select>
</mapper>